<% include ../Common/header  %>
    <!-- left sidebar -->
    <% include ../Common/side-menu  %>
    <!-- end left sidebar -->

        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header row">
                            <div class="col-md-6">
                                <h4 class="pageheader-title">Customer</h4>
                            </div>
                            <div class="col-md-6 text-md-right">
                              <a href="/master/list-customer"> <i class="fas fa-bars"></i> List </a>
                            </div>
                            

                           <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                             <!-- <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
                                    </ol>
                                </nav>
                            </div>  -->

                        </div>
                    </div>
                </div> 
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->                

                <div class="row">
                        
                        <!-- ============================================================== -->
                        <!-- valifation types -->
                        <!-- ============================================================== -->
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                                <% if(response.message_success){ %>
                                <div class="alert alert-success" role="alert">
                                    <%= response.message_success %>
                                </div>
                                <% } %>
                            <div class="card">
                                <h5 class="card-header">Edit customer</h5>

                                <div class="card-body">
                                    <form id="validationform" data-parsley-validate="" novalidate="" action="/master/edit-customer-save" method="POST">
                                        <input type="hidden" required="" name="id" class="form-control" value="<%= response.data[0].id %>">
                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Name</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input type="text" required="" name="name" class="form-control" value="<%= response.data[0].name %>">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Address</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <textarea required="" name="address" class="form-control"><%= response.data[0].address %></textarea>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Phone</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input type="text" required="" name="phone" class="form-control" value="<%= response.data[0].phone %>">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Email</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input type="text" required="" name="email" class="form-control" value="<%= response.data[0].email %>">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <label class="col-12 col-sm-3 col-form-label text-sm-right">Discount Rate (%)</label>
                                            <div class="col-12 col-sm-8 col-lg-6">
                                                <input type="text" required="" name="discount_rate" class="form-control" style="width:50px" maxlength="3" value="<%= response.data[0].discount_rate %>">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row text-right">
                                            <div class="col col-sm-10 col-lg-9 offset-sm-1 offset-lg-0">
                                                <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                                <button class="btn btn-space btn-secondary">Cancel</button>
                                            </div>
                                        </div> 


                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- ============================================================== -->
                        <!-- end valifation types -->
                        <!-- ============================================================== -->
                    </div>
            </div>
            
            <script>
            $('#form').parsley();
            </script> 
<% include ../Common/footer  %> 