<% include ../Common/header  %>
    <!-- left sidebar -->
    <% include ../Common/side-menu  
    var selectedTxt = ''; 
    %>
    <!-- end left sidebar -->

        <!-- ============================================================== -->
        <!-- wrapper  -->
        <!-- ============================================================== -->
        <div class="dashboard-wrapper">
            <div class="container-fluid  dashboard-content">
                <!-- ============================================================== -->
                <!-- pageheader -->
                <!-- ============================================================== -->
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                        <div class="page-header row">
                            <div class="col-md-6">
                                <h4 class="pageheader-title">Menu</h4>
                            </div>
                            <div class="col-md-6 text-md-right">
                              <a href="/master/list-item"> <i class="fas fa-bars"></i> List </a>
                            </div>
                            

                           <p class="pageheader-text">Proin placerat ante duiullam scelerisque a velit ac porta, fusce sit amet vestibulum mi. Morbi lobortis pulvinar quam.</p>
                             <!-- <div class="page-breadcrumb">
                                <nav aria-label="breadcrumb">
                                    <ol class="breadcrumb">
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Dashboard</a></li>
                                        <li class="breadcrumb-item"><a href="#" class="breadcrumb-link">Tables</a></li>
                                        <li class="breadcrumb-item active" aria-current="page">Data Tables</li>
                                    </ol>
                                </nav>
                            </div>  -->

                        </div>
                    </div>
                </div> 
                <!-- ============================================================== -->
                <!-- end pageheader -->
                <!-- ============================================================== -->                

                <div class="row">
                    
                    <!-- ============================================================== -->
                    <!-- valifation types -->
                    <!-- ============================================================== -->
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                            <% if(response.message_success){ %>
                            <div class="alert alert-success" role="alert">
                                <%= response.message_success %>
                            </div>
                            <% } %>
                        <div class="card">
                            <h5 class="card-header">Edit Menu</h5>

                            <div class="card-body">
                                <form id="validationform" data-parsley-validate="" novalidate="" action="/master/edit-item-save" method="POST">
                                    <input type="hidden" required="" name="id" class="form-control" value="<%= response.data[0].id %>">
                                    
                                    <div class="row">
                                    <div class="col-xl-9 col-lg-9 col-md-8 col-sm-12 col-12">
                                        <div class="form-group row">
                                            <div class="col-md-2">Name</div>
                                            <div class="col-md-6">
                                                <input type="text" required="" name="name" class="form-control" value="<%= response.data[0].name %>">
                                            </div> 

                                            <div class="col-md-2">Group</div>
                                            <div class="col-md-2"> 
                                                <select class="form-control" name="grcode" id="grcode"  >         
                                                    <%                                                     
                                                    if(typeof response.group.length != "undefined"){
                                                        for(var i=0; i<response.group.length; i++) {
                                                        selectedTxt = '';     
                                                        if(response.data[0].grcode ==  response.group[i].id ) selectedTxt ="selected";  
                                                    %>
                                                        <option value="<%= response.group[i].id %>" <%= selectedTxt %> >  <%= response.group[i].name %> </option>
                                                    <% 
                                                        }
                                                    }
                                                    %> 
                                                </select>
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-2">Item Code</div>
                                            <div class="col-md-2">
                                                <input type="text" required="" name="itcode" class="form-control" value="<%= response.data[0].itcode %>">
                                            </div>

                                            <div class="col-md-2">Tax Type</div>
                                            <div class="col-md-2">
                                                <select class="form-control" name="tax_type" id="taxtype">                                                    
                                                    <option value="Taxable" <%= (response.data[0].tax_type == 'Taxable')? "selected":"" %> >Taxable</option>
                                                    <option value="Non Taxable" <%= (response.data[0].tax_type == 'Non Taxable')? "selected":"" %>>Non Taxable</option>
                                                </select>
                                            </div>

                                            <div class="col-md-2">Bar Menu</div>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="bartype" class="form-control" value="1" value="<%= response.data[0].bartype %>">
                                            </div>
                                        </div>

                                        <div class="form-group row">   
                                            <div class="col-md-2">Rate</div>
                                            <div class="col-md-2">
                                                <input type="number" required="" name="rate" class="form-control" value="<%= response.data[0].rate %>">
                                            </div>

                                            <div class="col-md-2">Festival Rate</div>
                                            <div class="col-md-2">
                                                <input type="number" name="f_rate" class="form-control" value="<%= response.data[0].f_rate %>">
                                            </div>

                                            <div class="col-md-2">MRP</div>
                                            <div class="col-md-2">
                                                <input type="number" name="mrp" class="form-control" value=0 value="<%= response.data[0].mrp %>">
                                            </div>
                                        </div>

                                        <div class="form-group row"> 
                                            <div class="col-md-2">Food Type</div>
                                            <div class="col-md-2">
                                                <select class="form-control" name="food_type" id="foodtype" value="<%= response.data[0].foodtype %>">
                                                    <option value="Food">Food</option>
                                                    <option value="Drinks">Drinks</option>
                                                    <option value="Others">Others</option>
                                                </select>
                                            </div>

                                            <div class="col-md-2">Half Menu</div>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="half" class="form-control" value="1" value="<%= response.data[0].half %>">
                                            </div>

                                            <div class="col-md-2">Alternate Code</div>
                                            <div class="col-md-2">
                                                <input type="text" name="altcode" class="form-control" value="<%= response.data[0].altcode %>">
                                            </div>
                                        </div>    
                                        
                                        <div class="form-group row">
                                            <div class="col-md-2">Stock</div>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="stock" class="form-control" value="1" value="<%= response.data[0].stock %>">
                                            </div>

                                            <div class="col-md-2">No of Peg</div>
                                            <div class="col-md-2">
                                                <input type="number" name="peg" class="form-control" value=0 value="<%= response.data[0].peg %>">
                                            </div>
                                        </div>
                                        
                                        <div class="form-group row">
                                            <div class="col-md-2">ML</div>
                                            <div class="col-md-2">
                                                <select class="form-control" name="mltype" id="mltype" value="<%= response.data[0].mltype %>">
                                                    <option value="100 ML">100 ML</option>
                                                    <option value="750 ML">750 ML</option>
                                                    <option value="375 ML">375 ML</option>
                                                    <option value="PEG">PEG</option>
                                                </select>
                                            </div>
                                            
                                            <div class="col-md-2">Wine Type</div>
                                            <div class="col-md-2">
                                                <select class="form-control" name="winetype" id="winetype" value="<%= response.data[0].winetype %>">
                                                    <option value="Whiskey">Whiskey</option>
                                                    <option value="Vodka">Vodka</option>
                                                    <option value="Rum">Rum</option>
                                                    <option value="Beer">Beer</option>
                                                    <option value="Wine">Wine</option>
                                                    <option value="Scotch">Scotch</option>
                                                    <option value="Others">Others</option>
                                                </select>
                                            </div>
                                            <div class="col-md-2">Special Menu</div>
                                            <div class="col-md-2">
                                                <input type="checkbox" name="special" class="form-control" value="1" value="<%= response.data[0].special %>">
                                            </div>
                                        </div>                                        
                                    </div>
                                    

                                    <div class="col-xl-3 col-lg-3 col-md-4 col-sm-12 col-12">
                                        <table id="myTable" class=" table order-list">
                                            <thead>
                                                <tr>
                                                    <td style="width:40%">Field1</td>
                                                    <td style="width:40%">Field2</td> 
                                                    <td style="width:20%"></td>                                                   
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <input type="text" name="name" class="form-control" />
                                                    </td>
                                                    <td>
                                                        <input type="mail" name="mail"  class="form-control"/>
                                                    </td>                                                   
                                                    <td><a class="deleteRow"></a></td>
                                                </tr>
                                            </tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="5" style="text-align: left;">
                                                        <input type="button" class="btn btn-lg btn-block " id="addrow" value="Add Row" />
                                                    </td>
                                                </tr>
                                                <tr>
                                                </tr>
                                            </tfoot>
                                        </table>
                                       
                                    </div>
                                    </div>



                                    <div class="form-group row text-right">
                                        <div class="col col-sm-12 col-lg-12 offset-sm-1 offset-lg-0">
                                            <button type="submit" class="btn btn-space btn-primary">Submit</button>
                                            <button class="btn btn-space btn-secondary">Cancel</button>
                                        </div>
                                    </div> 


                                </form>
                            </div>

                        </div>
                    </div>
                    <!-- ============================================================== -->
                    <!-- end valifation types -->
                    <!-- ============================================================== -->
                </div>
            </div>
   
            
  
            <script>
            $('#form').parsley();
            </script> 

<% include ../Common/footer  %>             
